@charset "utf-8";

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}



/* @font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
} */

* {margin: 0; padding: 0; box-sizing: border-box;}
ul, ol {list-style: none;}
a {text-decoration: none; color: #333;}

body {font-family: 'Pretendard'; width: 100%; }
/* .container {width: 1230px; height: 100%; background-color: #aaa; margin: auto;} */

.container {width: 100%; height: 100%; margin: 0 auto; background-color: white; max-width: 1200px;}

/* header */
header {width: 100%; height: 278px;}
.header_m {width: 100%; height: 42px; margin: 0 auto; position: relative; display: flex;}
.header_m::after {content:''; position: absolute; top: 0; right: -30%; width: 30%; height: 42px; background-color: whitesmoke;}
.header_top {width: 100%; height: 70px; background-color: whitesmoke; margin: 0 auto; text-align: center;}
.top_nav {width: 1200px; height: 40px; display: flex; margin: auto; background-color: whitesmoke;}
.top_nav_right {width: 592px; height: 40px; background-color: whitesmoke; display: flex; align-items: flex-end;}
.top_nav_right1 {width: 226px; height: 42px; margin-right: -30px; z-index: 10; position: relative;}
.top_nav_right2 {width : 484px; height: 2rem; align-items: flex-end; margin: auto; overflow: visible; margin-left: -19px; margin-bottom: 1px;}
.top_nav_right2_1 {width: 484px;}
.top_nav_right2_2_1 {white-space: nowrap; display: flex; border: none; padding: 0; background-color: whitesmoke;}
.top_nav_right2_2_1 .top_nav_right2_2_1_1 {border: none; color: #767676; font-size: 13px; padding-bottom: 6px;}
.top_nav_right2_2_1 .top_nav_right2_2_1_2 {border: 1px solid #ccc; border-left: none; cursor: pointer; }

.top_nav_left {width: 330px; height: 42px; justify-content: space-between; align-items: center; flex-wrap: wrap; position: relative; margin-left: auto; display: flex;}
.top_nav_left_ul {display: flex; gap: 7px; font-size: 13px; padding-left: 10px; color: #767676; white-space: nowrap;}
.header_m1_2 {width: 950.5px; height: 42px; background-color: whitesmoke; position: absolute; top: 0; right: 0; z-index: -1;}

.header_b1 {width: 100%; height: 5rem; display: flex; gap: 20px; align-items: flex-end; justify-content: space-between;}
.logo {width: 240px;}
/* .logo img { object-fit: cover; width: 100%; height: 100%;} */
.logo img {max-width: 100%; height: auto; display: block; padding-bottom: 10px;}

.search {width: 560px; height: 3rem; margin: auto; border-width: 1px; border-radius: 1.5rem; display: flex; border-style: solid; align-items: center; font-size: 14px; justify-content: space-between; margin-top: 30px; margin-left: 30px;}

.search .search1 {border-radius: 25px; min-width: 116px; height: 3rem; margin-left: -1px; align-items: center; display: inline-flex; align-items: center; background: transparent; font-size: 14px; cursor: pointer; padding-left: 1rem;}
.search1_button { border: none; white-space: nowrap; gap: 1rem; background-color: white; text-align: center;}
.hidden {display: none;}
.search2 {width: 443px; height: 46px; display: flex; font-size: 16px;}
.search2_form input {width: 395px; height: 100%; border: none;}
.search2_icon {width: 24px; height: 24px; background-color: white; border: none;}

.ntop_ico {width: 104px; height: 48px; margin: auto; display: flex; gap: 1.25rem;}

.header_b2 {width: 1200px; height: 86px; margin: auto; display: flex;}
.b_icon {width: 44px; height: 64px; margin: auto; align-items: center;}
.b_icon_button {width: 44px; height: 44px; border-style: solid; border-radius: 3.40282e+38px; background-color: white; border-width: 1px; margin-top: 1rem;}

.b2_nav {width: 1124px; height: 85px; margin: auto; display: flex;}
.b2_nav1 {width: 745px; height: 2.45rem; align-items: center; margin-top: 1.8rem; gap: 1.8rem; display: flex;}
.b2_nav_icon {width: 20px; height: 50px; margin-top: 35px; margin-left: 0.5rem;}
.b2_nav_icon_btn {border: none; padding-top: 0.2rem;}
.b2_nav2 {width: 260px; height: 49px; margin-top: 2rem; margin-left: auto; display: flex; gap: 1rem; padding-top: 0.3rem; color: #666;}




footer .container {display: flex;}

/* footer */
.section_fin {width: 100%; height: 62px; border-top: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea; display: flex; margin: 0 auto; margin-top: 90px;}
.section_fin ul, li {display: flex; gap: 30px; margin: 0 auto; text-align: center; margin-top: 10px;}
.section_fin_li_1 {width: 600px; height: 22px; }
.section_fin_li_1_span {width: 61px; height: 22px; font-weight: bold;}
.section_fin_li_1_div {width: 501px; height: 22px; display: flex;}
.section_fin_li_1_div_a1 {width: 441px; height: 22px; display: block; text-align: left;}
.section_fin_li_1_div_a2 {width: 56px; height: 22px; display: block; margin-left: auto;}
.section_fin_li_2 {width: 600px; height: 22px;}
.section_fin_li_2_span {width: 70px; height: 22px; font-weight: bold;}
.section_fin_li_2_div {width: 501px; height: 22px; display: flex;}
.section_fin_li_2_div_a1 {width: 408px; height: 22px; overflow: hidden; white-space: nowrap; display: block; text-overflow: ellipsis;}
.section_fin_li_2_div_a2 {width: 56px; height: 22px; display: block;}
footer {width: 100%; height: 288px;}
.container2 {width: 1200px; height: 211px; display: flex; margin: auto;}
.footer_r {width: 766px; height: 211px; margin: auto;}
.footer_l {width: 350px; height: 205px; margin: auto;}
.footer_r ul {display: flex; margin-top: 0.75rem; flex-wrap: wrap; margin-bottom: 0.75rem;}
.footer_r_span {width: 766px; height: 48px; margin-top: 2rem;}

.footer_l_1 {display: flex; gap: 1rem; align-items: center; margin-bottom: 1.75rem; justify-content: space-between; width: 350px; height: 40px;}
.footer_l_1 button {width: 200px; height: 40px; border-style: 0.3px solid #bbb; text-align: left; background-color: white;}
.footer_l_2 {display: flex; gap: 1rem; align-items: center; margin-bottom: 1.75rem; font-size: small;}
.footer_l_2 a {border-style: 2px solid #333; border-width: 1px;} 
.footer_l_3 {font-size: x-small;}
.footer_l_4 {display: flex; font-size: small; margin-top: 10px; gap: 10px;}