@charset "utf-8";


.section_1 {width: 1200px; height: 380px; display: flex; gap: 2.20rem; margin: 0 auto;}

/* slider */
#slider {width: 890px; height: 380px; background-color: greenyellow; margin: auto;}

    .swiper {
        width: 100%;
        height: 100%;
      }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      /* padding: 10px; */
      gap: 10px;
    }

    .swiper-slide_book {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }


    /* .swiper-button-next_1, .swiper-button-prev_1 {
      
    } */
    .mySwiper_2 {width: 274px; height: 380px; margin: 0 auto;}
    .swiper_content {width: 274px; height: 200px; margin-bottom: 20px;}
    .swiper_text {width: 274px; height: 130px; text-align: center; padding: 10px;}
    .swiper_number {width: 274px; height: 18px;}

    .slider_b_btn {display: flex; gap: 0.25rem; z-index: 10; bottom: 0.75rem; background-color: aqua; right: 0.75rem;}

    .slider1_side {width: 274px; height: 380px; border: 0.1px solid #eaeaea; border-radius: 0.75rem;}
    .slider1_side_slide {width: 274px; height: 330px;}
    .slider1_side_slide_t {width: 274px; height: 200px;}
    .slider1_side_slide_t img { border-radius: 0.75rem; border-style: 1px solid #bbb;}
    .slider1_side_slide_b {width: 274px; height: 130px; text-align: center; padding-block: 1.75rem;}
    .slider1_side_slide_b p {font-size: larger; font-weight: 700;}
    .slider1_side_slide2 {width: 274px; height: 50px; display: flex; justify-content: center; gap: 0.9rem;}
    .slider1_side_slide2 button {border: none; background-color: white; align-items: center;}
    .slider1_side_slide2 p {padding-top: 15px;}


    .section_2 {width: 1200px; height: 96px; margin: 0 auto; display: flex; margin-top: 2.20rem; flex-wrap: nowrap;}
    .section_2_ul {width: 890px; height: 96px; display: flex; justify-content: space-between; align-items: center; font-size: 13px;}
    .section_2_ul li {width: 68px; text-align: center; flex-shrink: 0;}
    .section_2_ul a {width: 68px; display: flex; flex-direction: column; align-items: center; gap: 6px; text-align: center;}
    .section2_nav {width: 274px; height: 96px; margin-left: auto;}
    .section2_nav_img {width: 100%; height: auto; border-radius: 0.75rem; border-style: solid; overflow: hidden;}


    .section_3 {width: 1328px; height: 314px; margin: 0 auto; margin-top: 50px;}
    .section_3_btn1 {border: none; background-color: white;}
    .section_3_box {width: 1200px; height: 314px; margin: 0 auto;}
    .section_3_box1 {width: 1200px; height: 34px; margin: 0 auto; display: flex;}
    .section_3_box1_1 {display: flex;}
    .section_3_box1_1_h2 {width: 130px; height: 34px;}
    .section_3_box1_1_div {display: flex; padding-top: 10px; gap: 20px; font-size: 13px; background-color: white;}
    .section_3_box1_1_div button {border: none; color: #666; background-color: white;}
    .section_3_box1_1_a {margin-left: auto; padding-top: 10px; font-weight: 700;}
    .section_3_box2 {width: 1200px; height: 260px; display: flex;}
    .left-swiper,
    .right-swiper {
      width: 1200px;
      margin: 0 auto 30px;
    }

    .slider-container {display: flex; width: 1200px; height: 260px; margin: 0 auto; margin-top: 10px;}

    /* .swiper {
      width: 1200px; height: 260px;
      margin-top: 50px;
    } */

    .mySwiperLeft {
      width: 730px;
      height: 233px;
      margin-right: 20px;
    }

    /* .mySwiperLeft .swiper-slide {
      background-color: #d0e0f0;
      padding: 10px;
    } */

    .mySwiperRight {
      width: 450px;
      height: 195px;
      margin-top: 20px;

    }

    /* .mySwiperRight .swiper-slide {
      background-color: #d0e0f0;
      padding: 15px;
    } */

    .swiper-button-next,
    .swiper-button-prev {
      color: #333;
    }
    .leftswiper_content {width: 730px; height: 262ppx; display: flex;}
    .mySwiperLeft img {width: 180px; height: 260px;}
    .leftswiper_text {width: 528px; height: 146px; margin-top: 30px; text-align: left; padding-left: 20px; font-size: large; padding-top: 20px;}


    .section_4 {width: 1200px; height: 180px; margin: 0 auto; margin-top: 5rem; gap: 1rem; display: flex;}
    .section_4_a1 {border-radius: 0.75rem; overflow: hidden;}
    .section_4_a2 {border-radius: 0.75rem; overflow: hidden;}

    .section_5 {width: 1328px; height: 378px; margin: 0 auto;  margin-top: 5rem;}
    .section_5_box1 {width: 1200px; height: 34px; margin: 0 auto; display: flex;}
    .section_5_box1_h2 {width: 1145px; height: 34px; margin: 0 auto;}
    .section_5_box1_a {margin-left: auto; padding-top: 10px; font-weight: 700;}
    .section_5_box2 {width: 1328px; height: 324px; margin: 0 auto; align-items: center;}
    .section_5_box2 >div {width: 1200px; height: 325px; margin: 5px auto; display: flex;}

    .section_6 {width: 1328px; height: 378px; margin: 0 auto;  margin-top: 5rem;}
    .section_6_box1 {width: 1200px; height: 34px; margin: 0 auto; display: flex;}
    .section_6_box1_h2 {width: 1145px; height: 34px; margin: 0 auto;}
    .section_6_box1_a {margin-left: auto; padding-top: 10px; font-weight: 700;}
    .section_6_box2 {width: 1328px; height: 324px; margin: 0 auto; align-items: center;}
    .section_6_box2 >div {width: 1200px; height: 325px; margin: 5px auto; display: flex;}

    .section_7 {width: 1328px; height: 378px; margin: 0 auto;  margin-top: 5rem;}
    .section_7_box1 {width: 1200px; height: 34px; margin: 0 auto; display: flex;}
    .section_7_box1_h2 {width: 1145px; height: 34px; margin: 0 auto;}
    .section_7_box1_a {margin-left: auto; padding-top: 10px; font-weight: 700;}
    .section_7_box2 {width: 1328px; height: 324px; margin: 0 auto; align-items: center;}
    .section_7_box2 >div {width: 1200px; height: 325px; margin: 5px auto; display: flex;}

    /* .section_fin {width: 100%; height: 62px; border-top: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea; display: flex; margin: 0 auto; margin-top: 90px;}
    .section_fin ul, li {display: flex; gap: 30px; margin: 0 auto; text-align: center; margin-top: 10px;}
    .section_fin_li_1 {width: 600px; height: 22px; }
    .section_fin_li_1_span {width: 61px; height: 22px; font-weight: bold;}
    .section_fin_li_1_div {width: 501px; height: 22px; display: flex;}
    .section_fin_li_1_div_a1 {width: 441px; height: 22px; display: block; text-align: left;}
    .section_fin_li_1_div_a2 {width: 56px; height: 22px; display: block; margin-left: auto;}
    .section_fin_li_2 {width: 600px; height: 22px;}
    .section_fin_li_2_span {width: 70px; height: 22px; font-weight: bold;}
    .section_fin_li_2_div {width: 501px; height: 22px; display: flex;}
    .section_fin_li_2_div_a1 {width: 408px; height: 22px; overflow: hidden; white-space: nowrap; display: block; text-overflow: ellipsis;}
    .section_fin_li_2_div_a2 {width: 56px; height: 22px; display: block;} */
    
    .new {width: 1328px; height: 324px; margin: 50px auto;}