header h1 {
    margin: 0 auto;
    /* background-color: orange; */
    width: 1200px;
    height: 278px;
}
.section_1 {
    width: 1200px;
    height: 825px;
    /* background-color: aquamarine; */
    margin: 0 auto;
    /* display: flex; */
}
.book_content {
    width: 1200px;
    height: 73px;
    text-align: center;
    padding: 20px;
}
.book_content1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px ;
}
.content_box{
    display: flex;
    gap: 50px;
    margin-top: 50px;
}
.sub_box {
    width: 380px;
    height: 673px;
    /* background-color: teal; */
    margin-left: 70px
}
.sub_box img {
    width: 380px;
    height: 572px;
}
table {
    margin-top: 50px;
    border-radius: 5px;
    font-size: 20px;   
}
.sub_box_2 table td {
    padding: 10px 90px;
    line-height: 1.6;
    /* border-top: 1px solid #eaeaea; */
    border-bottom: 1px solid #eaeaea;
}
.span_list {width: 1200px; height: 40px; display: flex; gap: 30px; margin: 0 auto; font-size: 20px; color: #777; text-align: center; padding-left: 20px;}
.section_2 {
    width: 1200px;
    height: 1700px;
    /* background-color: whitesmoke; */
    margin: 0 auto;
}
.contextbox {
    width: 1200px;
    height: 250px;
    /* background-color: tomato; */
    margin: 0 auto;
    font-size: 20px;
    /* border: 1px solid green; */
    /* border-radius: 7px; */
    padding: 40px;
    margin-top: 10px;
    border: 1px solid #eaeaea;
    border-radius: 20px;

}

/* .hr_1 {width: 1000px; margin: 0 auto;} */
#tmpBox {
    width: 1200px;
    height: 1390px;
    /* background-color: cornflowerblue; */
    margin: 0 auto;
    /* border: 1px solid green; */
    /* border-radius: 7px; */
    padding: 30px;
    margin-top: 30px;
    font-size: 20px;
    background-color: whitesmoke;
    border: 1px solid #eaeaea;
    border-radius: 20px;
    padding-bottom: 30px;

}
